# Advanced Querying Mongo

Importing libraries and setting up connection

In [ ]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")

In [ ]:
client.list_database_names()

In [ ]:
db = client.get_database("lab")

In [ ]:
db.list_collection_names()

In [ ]:
companies = db.get_collection("oficinas")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [ ]:
proj = {"_id": 0, "name": 1}
name_companies = list(companies.find({"name": "Babelgum"}, proj))
name_companies

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [ ]:
employees_companies = list(companies.find({"number_of_employees": {"$gt": 5000}}).sort("number_of_employees", 1).limit(20))
employees_companies

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [ ]:
foundation_proj = {"_id": 0, "name": 1, "founded_year": 1}
foundation_companies = list(companies.find({"founded_year": {"$gte": 2000}, "founded_year": {"$lte": 2005}}, foundation_proj))

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [ ]:
valam_proj = {"_id": 0, "name": 1, "ipo": 1}
valam_companies = list(companies.find({"ipo.valuation_amount": {"$gt": 100000000}, "founded_year": {"$lt": 2010}}, valam_proj))

In [62]:
valam_companies

[{'ipo': {'pub_day': 18,
   'pub_month': 5,
   'pub_year': 2012,
   'stock_symbol': 'NASDAQ:FB',
   'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD'},
  'name': 'Facebook'},
 {'ipo': {'pub_day': 7,
   'pub_month': 11,
   'pub_year': 2013,
   'stock_symbol': 'NYSE:TWTR',
   'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD'},
  'name': 'Twitter'},
 {'ipo': {'pub_day': 2,
   'pub_month': 3,
   'pub_year': 2012,
   'stock_symbol': 'NYSE:YELP',
   'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD'},
  'name': 'Yelp'},
 {'ipo': {'pub_day': 20,
   'pub_month': 7,
   'pub_year': 2011,
   'stock_symbol': 'NYSE:LNKD',
   'valuation_amount': 9310000000,
   'valuation_currency_code': 'USD'},
  'name': 'LinkedIn'},
 {'ipo': {'pub_day': None,
   'pub_month': 5,
   'pub_year': 1997,
   'stock_symbol': 'NASDAQ:AMZN',
   'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD'},
  'name': 'Amazon'},
 {'ipo': {'pub_day': 17,
   'pub_month': 2,
   'pub_year': 2012,
   'stock_symbol': 'NASDAQ:BCOV',
   'valuation_amount': 290000000,
   'valuation_currency_code': 'USD'},
  'name': 'Brightcove'},
 {'ipo': {'pub_day': 27,
   'pub_month': 7,
   'pub_year': 2010,
   'stock_symbol': 'KITD',
   'valuation_amount': 235000000,
   'valuation_currency_code': 'USD'},
  'name': 'KIT digital'},
 {'ipo': {'pub_day': 26,
   'pub_month': 1,
   'pub_year': 2011,
   'stock_symbol': 'NYSE:NLSN',
   'valuation_amount': 1600000000,
   'valuation_currency_code': 'USD'},
  'name': 'Nielsen'},
 {'ipo': {'pub_day': 21,
   'pub_month': 5,
   'pub_year': 2009,
   'stock_symbol': 'NASDAQ:OPEN',
   'valuation_amount': 1050000000,
   'valuation_currency_code': 'USD'},
  'name': 'OpenTable'},
 {'ipo': {'pub_day': 23,
   'pub_month': 5,
   'pub_year': 2013,
   'stock_symbol': 'NYSE:ECOM',
   'valuation_amount': 287000000,
   'valuation_currency_code': 'USD'},
  'name': 'ChannelAdvisor'},
 {'ipo': {'pub_day': 3,
   'pub_month': 2,
   'pub_year': 2012,
   'stock_symbol': 'NASDAQ:JIVE',
   'valuation_amount': 1000000000,
   'valuation_currency_code': 'USD'},
  'name': 'Jive Software'},
 {'ipo': {'pub_day': 19,
   'pub_month': 7,
   'pub_year': 2011,
   'stock_symbol': 'NASDAQ:Z',
   'valuation_amount': 2550000000,
   'valuation_currency_code': 'USD'},
  'name': 'Zillow'},
 {'ipo': {'pub_day': 6,
   'pub_month': 11,
   'pub_year': 2013,
   'stock_symbol': 'NASDAQ:WIX',
   'valuation_amount': 750000000,
   'valuation_currency_code': 'USD'},
  'name': 'Wix'},
 {'ipo': {'pub_day': 29,
   'pub_month': 9,
   'pub_year': 2006,
   'stock_symbol': 'SFLY',
   'valuation_amount': 350000000,
   'valuation_currency_code': 'USD'},
  'name': 'Shutterfly'},
 {'ipo': {'pub_day': 21,
   'pub_month': 12,
   'pub_year': 2011,
   'stock_symbol': 'TRIP',
   'valuation_amount': 3273770000,
   'valuation_currency_code': 'USD'},
  'name': 'TripAdvisor'},
 {'ipo': {'pub_day': 2,
   'pub_month': 7,
   'pub_year': 2004,
   'stock_symbol': 'NYSE:CRM',
   'valuation_amount': 110000000,
   'valuation_currency_code': 'USD'},
  'name': 'Salesforce'},
 {'ipo': {'pub_day': 29,
   'pub_month': 6,
   'pub_year': 2011,
   'stock_symbol': 'NASDAQ:AWAY',
   'valuation_amount': 3000000000,
   'valuation_currency_code': 'USD'},
  'name': 'HomeAway'},
 {'ipo': {'pub_day': 11,
   'pub_month': 1,
   'pub_year': 2010,
   'stock_symbol': 'NASDAQ:QNST',
   'valuation_amount': 140000000,
   'valuation_currency_code': 'USD'},
  'name': 'QuinStreet'},
 {'ipo': {'pub_day': 7,
   'pub_month': 11,
   'pub_year': 2011,
   'stock_symbol': 'RAX',
   'valuation_amount': 5440000000,
   'valuation_currency_code': 'USD'},
  'name': 'Rackspace'},
 {'ipo': {'pub_day': 12,
   'pub_month': 8,
   'pub_year': 1988,
   'stock_symbol': 'NASDAQ:BMC',
   'valuation_amount': 6000000000,
   'valuation_currency_code': 'USD'},
  'name': 'BMC Software'},
 {'ipo': {'pub_day': None,
   'pub_month': None,
   'pub_year': None,
   'stock_symbol': 'NYSE:ONE',
   'valuation_amount': 1060000000,
   'valuation_currency_code': 'USD'},
  'name': 'Higher One'},
 {'ipo': {'pub_day': 20,
   'pub_month': 4,
   'pub_year': 2012,
   'stock_symbol': 'NYSE:BLOX',
   'valuation_amount': 824000000,
   'valuation_currency_code': 'USD'},
  'name': 'Infoblox'},
 {'ipo': {'pub_day': 16,
   'pub_month': 6,
   'pub_year': 2004,
   'stock_symbol': 'HK:0700',
   'valuation_amount': 11000000000,
   'valuation_currency_code': 'USD'},
  'name': 'Tencent'},
 {'ipo': {'pub_day': 2,
   'pub_month': 4,
   'pub_year': 2013,
   'stock_symbol': 'NASDAQ:MKTO',
   'valuation_amount': 465000000,
   'valuation_currency_code': 'USD'},
  'name': 'Marketo'},
 {'ipo': {'pub_day': 5,
   'pub_month': 8,
   'pub_year': 2005,
   'stock_symbol': 'NASDAQ:BIDU',
   'valuation_amount': 4000000000,
   'valuation_currency_code': 'USD'},
  'name': 'Baidu'},
 {'ipo': {'pub_day': 2,
   'pub_month': 11,
   'pub_year': 2010,
   'stock_symbol': 'GKNT',
   'valuation_amount': 134000000,
   'valuation_currency_code': 'USD'},
  'name': 'Geeknet'},
 {'ipo': {'pub_day': 9,
   'pub_month': 3,
   'pub_year': 2001,
   'stock_symbol': 'NASDAQ:LDCL',
   'valuation_amount': 450000000,
   'valuation_currency_code': 'USD'},
  'name': 'Opsware'},
 {'ipo': {'pub_day': 13,
   'pub_month': 5,
   'pub_year': 2010,
   'stock_symbol': 'TNAV',
   'valuation_amount': 337000000,
   'valuation_currency_code': 'USD'},
  'name': 'Telenav'},
 {'ipo': {'pub_day': 12,
   'pub_month': 4,
   'pub_year': 2013,
   'stock_symbol': 'RALY',
   'valuation_amount': 315000000,
   'valuation_currency_code': 'USD'},
  'name': 'Rally Software'},
 {'ipo': {'pub_day': 22,
   'pub_month': 4,
   'pub_year': 2011,
   'stock_symbol': 'NASDAQ:BRSE',
   'valuation_amount': 1000000000,
   'valuation_currency_code': 'USD'},
  'name': 'BrightSource Energy'},
 {'ipo': {'pub_day': 14,
   'pub_month': 9,
   'pub_year': 2006,
   'stock_symbol': 'JP:2121',
   'valuation_amount': 970000000,
   'valuation_currency_code': 'USD'},
  'name': 'Mixi'},
 {'ipo': {'pub_day': 16,
   'pub_month': 7,
   'pub_year': 2010,
   'stock_symbol': 'QLIK',
   'valuation_amount': 1000000000,
   'valuation_currency_code': 'USD'},
  'name': 'QlikTech'},
 {'ipo': {'pub_day': 14,
   'pub_month': 11,
   'pub_year': 2013,
   'stock_symbol': 'NYSE:CHGG',
   'valuation_amount': 1100000000,
   'valuation_currency_code': 'USD'},
  'name': 'Chegg'},
 {'ipo': {'pub_day': 14,
   'pub_month': 11,
   'pub_year': 2013,
   'stock_symbol': 'NYSE:CHGG',
   'valuation_amount': 1100000000,
   'valuation_currency_code': 'USD'},
  'name': 'Chegg'},
 {'ipo': {'pub_day': 7,
   'pub_month': 11,
   'pub_year': 2011,
   'stock_symbol': 'NASDAQ:GRPN',
   'valuation_amount': 12800000000,
   'valuation_currency_code': 'USD'},
  'name': 'Groupon'},
 {'ipo': {'pub_day': 20,
   'pub_month': 5,
   'pub_year': 2009,
   'stock_symbol': 'SWI',
   'valuation_amount': 803000000,
   'valuation_currency_code': 'USD'},
  'name': 'SolarWinds'},
 {'ipo': {'pub_day': 17,
   'pub_month': 12,
   'pub_year': 2008,
   'stock_symbol': '3632',
   'valuation_amount': 108960000000,
   'valuation_currency_code': 'JPY'},
  'name': 'GREE'},
 {'ipo': {'pub_day': None,
   'pub_month': None,
   'pub_year': None,
   'stock_symbol': 'NASDAQ:TUDO',
   'valuation_amount': 174000000,
   'valuation_currency_code': 'USD'},
  'name': 'Tudou'},
 {'ipo': {'pub_day': 14,
   'pub_month': 2,
   'pub_year': 2011,
   'stock_symbol': 'NASDAQ:DMAN',
   'valuation_amount': 245000000,
   'valuation_currency_code': 'USD'},
  'name': 'DemandTec'},
 {'ipo': {'pub_day': 5,
   'pub_month': 7,
   'pub_year': 2011,
   'stock_symbol': 'CSOD',
   'valuation_amount': 900000000,
   'valuation_currency_code': 'USD'},
  'name': 'Cornerstone OnDemand'},
 {'ipo': {'pub_day': None,
   'pub_month': None,
   'pub_year': None,
   'stock_symbol': 'NYSE:WDC',
   'valuation_amount': 9430000000,
   'valuation_currency_code': 'USD'},
  'name': 'Western Digital'},
 {'ipo': {'pub_day': 28,
   'pub_month': 3,
   'pub_year': 2012,
   'stock_symbol': 'NYSE:MM',
   'valuation_amount': 973500000,
   'valuation_currency_code': 'USD'},
  'name': 'Millennial Media'}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
small_companies = list(companies.find({"number_of_employees": {"$lt": 1000}, "founded_year": {"$lt": 2005}}).sort("number_of_employees", 1).limit(10))
small_companies

### 6. All the companies that don't include the `partners` field.

In [61]:
lista = ["None"]
not_partners_companies = list(companies.find({"partners": {"$nin": lista}}))
len(not_partners_companies)

18801

### 7. All the companies that have a null type of value on the `category_code` field.

In [65]:
lista = ["None"]
code_companies = list(companies.find({"category_code": {"$nin": lista}}))
len(code_companies)

18801

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
# Your Code

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code